<script>
    console.log("first page")
    let paper = document.getElementById('ppr')
        // console.log(ppr.innerHTML)
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        mydata = {ppr: ppr.innerHTML, csrfmiddlewaretoken: csr };
        $.ajax({
            url: "{% url 'que_page' %}",
            method: "POST",
            data: mydata,
            success: function (data) {

                
                for(i=0; i<data.length; i++){

                    
                    if(data[i].answer === 'null'){
                        
                        // console.log(data[i].que_no, data[i].answer)
                        var que_save = data[i].que_no - 1
                        var clr = document.getElementsByClassName('btn_que')[que_save]
                        clr.style.background = 'rgb(192, 44, 113)'
                        clr.style.color = 'white'
                    }
                    else if(data[i].answer === 'A' || data[i].answer === 'B' || data[i].answer === 'C' || data[i].answer === 'D'){
                        
                        // console.log(data[i].que_no, data[i].answer)
                        var que_save = data[i].que_no - 1
                        var clr = document.getElementsByClassName('btn_que')[que_save]
                        clr.style.background = 'green'
                        clr.style.color = 'white'
                        if(data[i].que_no == 1){
                            console.log("que 1")
                            if (data[i].answer == 'A') {
                                // console.log("option A")
                                $('#A').prop("checked", "true");
                            } else if (data[i].answer == 'B') {
                                // console.log("option B")
                                $('#B').prop("checked", "true");
                            } else if (data[i].answer == 'C') {
                                // console.log("option C")
                                $('#C').prop("checked", "true");
                            } else if (data[i].answer == 'D') {
                                // console.log("option D")
                                $('#D').prop("checked", "true");
                            } else {
                                // console.log("not attempted")
                            }

                        }
                    }

                }
               
                
                // console.log(data.ans_filter)
            }
        })


    
        $("#btnnext").click(function (){
            console.log("next")
            let qs_no = document.getElementById('q_no')

        let id = parseInt(qs_no.innerHTML);
        let q_no = id + 1;
        let paper = document.getElementById('ppr')
        console.log(ppr, q_no)
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        mydata = { sid: q_no, ppr: ppr.innerHTML, csrfmiddlewaretoken: csr };
        $.ajax({
            url: "{% url 'next_exp' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                console.log(data.questions)
                $("#q_no").html(data.qs_no);

                $("#qst").html(data.questions);
                $("#ans").html(data.answers);
                $("#disc").html(data.disc);
            }
        });
        })
    $(".btn_que").click(function () {
        console.log("click que")
        let id = $(this).attr("data-sid");
        console.log(id)
        console.log(typeof id);
        let que = parseInt(id);
        let paper = document.getElementById('ppr')
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        mydata = { sid: que, ppr: ppr.textContent, csrfmiddlewaretoken: csr };
        $.ajax({
            url: "{% url 'number_exp' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                
                $("#q_no").html(data.qs_no);
                $("#qst").html(data.questions);
                $("#ans").html(data.answers);
                $("#disc").html(data.disc);
            }
        })
        
        })
    

</script>